{% extends 'header.html' %}
{% block content %}

<form action="{% url 'editTask' id %}" method="post">

     <h2 align="center">Edit Task</h2>




    <table>
        <style>
            table{
                  width: 50%;
                  margin: 30px auto;
                  border-collapse: collapse;
                  text-align: left;
                  }
            form {
                  width: 60%;
                  margin: 50px auto;
                  text-align: left;
                  padding: 20px;
                  border: 1px solid #bbbbbb;
                  border-radius: 5px;
                  background-color:lightyellow;
                  box-shadow: 0px 0px 10px rgba(0,0,0, 0.2);
                  }
        </style>
        {% for form_item in form %}

            <tr>
            <td>
                {{ form_item.label }}

            </td>
            <td>
                {{ form_item }}
            </td>
            </tr>

        {% endfor %}

    </table>
     {% csrf_token %}
    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
    <input type="submit" class="btn btn-success" value="Update">


    </form>

{% endblock %}